/* Styling for the body element */
body {
    background: white; /* Sets background color to white */
    text-align: center; /* Aligns text content to the center */
    margin: 0; /* Removes default margin */
}


/* Styling for the container element */
#container {
    width: 414px; /* Sets width of container */
    height: 775px; /* Sets height of container */
    
    margin: 0 auto; /* Centers the container horizontally */
    margin-top: 30px; /* Adds margin space on top */
    
    overflow: auto; /* Allows content overflow with scrollbar if needed */
}

/* Styling for the back page container */
.back-page {
    display: flex; /* Displays flex items */
    
    flex-direction: column; /* Sets flex direction to column */
    justify-self: center; /* Aligns items to the center */
    
    background-color: #4942CE; /* Sets background color */
    
    width: 246px; /* Sets width */
    height: 246px; /* Sets height */
    border-radius: 50%; /* Sets border radius to create a circle */
    
    position: relative; /* Sets position to relative */
    left: -59px; /* Positions from the left */
    top: -84px; /* Positions from the top */
}

/* Styling for text elements within the back page container */
.back-page .back, .signup {
    color: white; /* Sets text color to white */
    
    position: relative; /* Sets position to relative */
    left: 20px; /* Positions from the left */
    top: 106px; /* Positions from the top */
}

.back-page p {
    /* Styling for paragraphs within the back page */
    font-family: "DM Sans", sans-serif; /* Sets font family */
    font-optical-sizing: auto; /* Sets font optical sizing */
    font-weight: 400; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 15px; /* Sets font size */
    margin-top: 10px; /* Adds margin space on top */
}

.back-page h1 {
    /* Styling for headings within the back page */
    font-family: "Poppins", sans-serif; /* Sets font family */
    font-weight: 500; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 21px; /* Sets font size */
    margin-top: 0; /* Removes default margin on top */
}

/* Styling for main content */
main {
    margin-top: 54px; /* Adds margin space on top */
    outline: none;
}

main h1 {
    /* Styling for headings within main content */
    font-family: "Poppins", sans-serif; /* Sets font family */
    font-weight: 700; /* Sets font weight */
    font-style: italic; /* Sets font style to italic */
    font-size: 38px; /* Sets font size */
    color: white; /* Sets text color to white */
}

main p {
    /* Styling for paragraphs within main content */
    font-family: "DM Sans", sans-serif; /* Sets font family */
    font-optical-sizing: auto; /* Sets font optical sizing */
    font-weight: 400; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 14px; /* Sets font size */
    margin-top: 0; /* Removes default margin on top */
    color: white; /* Sets text color to white */
}

/* Styling for the registered container */
.registered-container {
    display: flex; /* Displays flex items */
    flex-direction: column; /* Sets flex direction to column */
    align-items: center; /* Aligns items to the center */
    width: 434px; /* Sets width */
    height: 637px; /* Sets height */
    background-color: #22263E; /* Sets background color */
    border-radius: 19px; /* Sets border radius */
    position: relative; /* Sets position to relative */
    top: -64px; /* Positions from the top */
}

/* Styling for input fields within the form */
.input-wrapper {
    color: white; /* Sets text color to white */
    text-align: left; /* Aligns text to the left */
    margin-top: 10px; /* Adds margin space on top */
    font-family: "DM Sans", sans-serif; /* Sets font family */
    font-optical-sizing: auto; /* Sets font optical sizing */
    font-weight: 400; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 14px; /* Sets font size */
}

/* Styling for input and textarea fields within the form */
form input,
form textarea {
    width: 90%; /* Sets width */
    
    border-radius: 40px; /* Sets border radius */
    border: 1px solid rgba(143, 142, 142, 0.4); /* Sets border */
    
    outline: none; /* Removes outline */
    height: 52px; /* Sets height */
    background-color: rgb(143, 142, 142, 0.4); /* Sets background color */
    color: white; /* Sets text color to white */
    
    font-family: "Poppins", sans-serif; /* Sets font family */
    font-weight: 300; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 14px; /* Sets font size */
}

/* Styling for the sign-up button */
.signup-button {
    background-color: #4942CE; /* Sets background color */
    color: white; /* Sets text color to white */
    
    height: 54px; /* Sets height */
    width: 266px; /* Sets width */
    
    border: solid 2px #4942CE; /* Sets border */
    font-family: "Poppins", sans-serif; /* Sets font family */
    font-weight: 500; /* Sets font weight */
    font-style: italic; /* Sets font style to italic */
    
    border-radius: 60px; /* Sets border radius */
    margin-top: 25px; /* Adds margin space on top */
    
    cursor: pointer; /* Sets cursor to pointer */
}

/* Styling for paragraphs within the form */
form p {
    font-family: "DM Sans", sans-serif; /* Sets font family */
    font-optical-sizing: auto; /* Sets font optical sizing */
    font-weight: 400; /* Sets font weight */
    font-style: normal; /* Sets font style to normal */
    font-size: 10px; /* Sets font size */
    margin-top: 5px; /* Adds margin space on top */
    color: white; /* Sets text color to white */
}
